doctype html
html(lang='en')
    head
        title gdbgui - gdb in a browser

        base(target='_blank')

        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(href='static/css/gdbgui.css?_=#{version}', rel='stylesheet')
        link(href='static/css/splitjs-gdbgui.css?_=#{version}', rel='stylesheet')
        link(href='static/vendor/css/bootstrap.min.css', rel='stylesheet')
        link(href='static/vendor/css/gdbgui_awesomeplete.css', rel='stylesheet')
        - for theme in themes
            link(href='static/vendor/css/pygments/#{theme}.css', rel='stylesheet')

    body
        //- #root
        #top
        #middle
            #middle_left(style='height: 100%; float: left;')
            #middle_right.content(style='height: 100%; float: left; overflow-y: auto; overflow-x: visible;')




        #bottom.split.split-horizontal(style='padding-bottom: 90px; width: 100%;')
            #bottom_content.split.content(style='width:100%; height: 100%; position: relative; padding-bottom: 30px;')
                //- position of this split pane is relative so that other divs can be absolute and use it as an anchor

                //- gdb console
                div#console_container

        //- todo move everything into this id
        #gdbgui


    script.
        initial_data = JSON.parse('!{initial_data}')
        debug = JSON.parse('!{debug}')

    script(type="text/javascript" src='static/vendor/js/jquery.min.js')
    script(type="text/javascript" src='static/vendor/js/jquery.flot-0.8.3.min.js')
    script(type="text/javascript" src='static/vendor/js/bootstrap.min.js')
    script(type="text/javascript" src='static/vendor/js/lodash.min.js')
    script(type="text/javascript" src='static/vendor/js/moment.min.js')
    script(type="text/javascript" src='static/vendor/js/vis-4.20.1.min.js')
    script(type="text/javascript" src='static/vendor/js/awesomeplete.min.js')
    script(type="text/javascript" src='static/vendor/js/socket.io-2.0.3.min.js')
    script(type="text/javascript" src='static/vendor/js/splitjs.min-1.2.0.js')
    script(type="text/javascript" src='static/js/index.js?_=#{version}')
