//- The jade project (and file extension) is now Pug, but
//- as far as I know, the python package has not been renamed, so it remains
//- a jade file for now
//- explore instant conversion of html2jade: http://www.html2jade.org/

html
head
    title gdbgui - gdb in a browser


    base(target='_blank')

    link(href='static/css/gdbgui.css?_=#{timetag_to_prevent_caching}', rel='stylesheet')
    link(href='static/vendor/css/bootstrap.min.css', rel='stylesheet')
    link(href='static/vendor/css/messenger.css', rel='stylesheet')
    link(href='static/vendor/css/awesomeplete.css', rel='stylesheet')

    script(type="text/javascript" src='static/vendor/js/jquery.min.js')
    script(type="text/javascript" src='static/vendor/js/bootstrap.min.js')
    script(type="text/javascript" src='static/vendor/js/messenger.min.js')
    script(type="text/javascript" src='static/vendor/js/lodash.min.js')
    script(type="text/javascript" src='static/vendor/js/moment.min.js')
    script(type="text/javascript" src='static/vendor/js/awesomeplete.min.js')
    script(type="text/javascript" src='//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js')

body

    //- this container stays on top, no matter what
    div.container-fluid#always_on_top

        div.row(style='max-height: 80px')
            div.col-lg-12
                div
                    //- binary selection
                    form(role=form)
                        div.input-group.input-group-sm
                            span.input-group-btn
                                button.btn.btn-primary#set_target_app(type="button") Load This Binary and Args
                            input.form-control#binary(type="text", placeholder="/path/to/target/executable -and -flags", list='past_binaries', style="font-family: courier")
                            datalist#past_binaries
                            span(style="display:table-cell; width: 30px;")
                                span#shutdown_gdbgui.glyphicon.glyphicon-off.pointer(style='font-size: 1.6em; padding-left: 15px', title='shutdown gdbgui (kill gdbgui server and close this tab)')


        div.row
            div(style="height: 20px; margin-top: 5px; margin-left: 15px")
                span Status:&nbsp
                span#status GDB is waiting to run a command

    //- the div after the "always on top" div must givei a margin on top at least as tall as the "always on top" div
    //- div.container-fluid(style="margin-top: 110px")
    table(style="margin-top: 90px;", height='500px', width='100%')
        tr(height='200px')
            td(valign='top', height='500px', style='overflow: auto')
                div.flexrow
                    //- displays source file path input, and dropdown
                    input#source_file_input.form-control.dropdown-input(autocomplete='off', placeholder='Enter source file path to view, or load binary then populate and select from dropdown', style='flex:1')

                    button.dropdown-btn(type="button")
                        span.caret

                div.flexrow
                    //- displays loaded file path and input to jump to line
                    span#source_code_heading.lighttext(style="margin-right: 5px;") (no source code file loaded)
                    button.btn.btn-xs.btn-default#refresh_cached_source_files(style='margin-left: 10px; height=25px;') reload
                        span.glyphicon.glyphicon-refresh(style='margin-left: 6px;')


                    //- input to jump to a line in the source code
                    input#jump_to_line.form-control.dropdown-input(autocomplete='on', placeholder='jump to line', title='Enter line number, then press enter', style="width: 150px; height: 25px; margin-left: 10")

                    label(style='margin-left: 10px; font-weight: normal;')
                        input#checkbox_show_assembly(type='checkbox')
                        ='show assembly'

                div#code_container.gdb_content_div
                    table#code_table.code
                        tr
                            td Source code will be displayed here when applicable

            td(valign='top', width='300px', height='500px', style='overflow: auto;')
                div.btn-group.btn-group(role="group", style='margin-bottom: 6px;')
                    button.btn.btn-default#run_button(type='button', title='Start inferior program from the beginning')
                        span.glyphicon.glyphicon-repeat.padding_left

                    button.btn.btn-default#continue_button(type='button', title='Continue until breakpoint is hit or inferior program exits')
                        span.glyphicon.glyphicon-play.padding_left

                    button.btn.btn-default#next_button(type='button', title="Step over next function call")
                        span.glyphicon.glyphicon-step-forward.padding_left

                    button.btn.btn-default#step_button(type='button', title="Step into next function call")
                        span.glyphicon.glyphicon-arrow-down.padding_left

                    button.btn.btn-default#return_button(type='button', title='Step out of current function')
                        span.glyphicon.glyphicon-arrow-up.padding_left

                div.btn-group.btn-group-xs(role="group")
                    button.btn.btn-default#next_instruction_button(type='button', title="Next Instruction: Execute one machine instruction, stepping over function calls") NI

                    button.btn.btn-default#step_instruction_button(type='button', title="Step Instruction: Execute one machine instruction, stepping into function calls") SI

                    button.btn.btn-default.gdb_cmd(type='button', data-cmd='-exec-interrupt', title='Send interrupt signal (SIGINT) to inferior process') INT

                div.no_padding
                    div.titlebar.flex.visibility_toggler(data-visibility_target_selector_string="#threads", data-glyph_selector='#threads_glyph')
                        span.glyphicon.glyphicon-chevron-down#threads_glyph(style='margin-right: 6px;')
                        span.lighttext call stack
                    div#threads.gdb_content_div

                div.no_padding
                    div.titlebar.flex.visibility_toggler(data-visibility_target_selector_string="#variables", data-glyph_selector='#variables_glyph')
                        span.glyphicon.glyphicon-chevron-down#variables_glyph(style='margin-right: 6px;')
                        span.lighttext variables
                        input#variable_input.form-control(placeholder='reach breakpoint, then enter expression or variable and press enter', style="height:25px")
                    div#variables.gdb_content_div

                div.no_padding
                    div.titlebar.flex.visibility_toggler(data-visibility_target_selector_string="#memory", data-glyph_selector='#memory_glyph')
                        span.glyphicon.glyphicon-chevron-down#memory_glyph(style='margin-right: 6px;')
                        span.lighttext memory
                        input#memory_start_address.form-control(placeholder='start address (hex)', style="height:25px")
                        input#memory_end_address.form-control(placeholder='end address (hex)', style="height:25px")
                    div#memory.gdb_content_div

                div.no_padding
                    div.titlebar.visibility_toggler(data-visibility_target_selector_string="#breakpoints", data-glyph_selector='#breakpoints_glyph')
                        span.glyphicon.glyphicon-chevron-down#breakpoints_glyph(style='margin-right: 6px;')
                        span.lighttext breakpoints
                    div#breakpoints.gdb_content_div

                div.no_padding
                    div.titlebar.visibility_toggler(data-visibility_target_selector_string="#registers", data-glyph_selector='#registers_glyph')
                        span.glyphicon.glyphicon-chevron-down#registers_glyph(style='margin-right: 6px;')
                        span.lighttext registers
                    div#registers.gdb_content_div

    div.col-lg-12.no_padding.visibility_toggler(data-visibility_target_selector_string="#gdb_console", data-glyph_selector='#gdb_console_glyph')
        //- text/buttons above the gdb console output
        div.titlebar
            span.lighttext gdb console
            div.btn-group
                button.btn.btn-default.btn-xs.clear_console(type='button', title='Clear Console (clears ui element, does not send a gdb command)') Clear Console
                    span.glyphicon.glyphicon-ban-circle.padding_left

        //- gdb console output
        div#console.gdb_content_div(style='border-bottom: 0; border-bottom-left-radius: 0; border-bottom-right-radius: 0')

        //- gdb console input
        span(style="position: absolute; left: 5px; margin-top: 9px; color: #777; font-family: monospace; font-size: 0.9em") (gdb)
        input.form-control.dropdown-input#gdb_command(type="text", autocomplete="on", data-list="#gdb_command_reference", placeholder='enter any gdb command, or gdb machine interface command')



    div.col-lg-12.no_padding.visibility_toggler(data-visibile_on_load='false', data-visibility_target_selector_string="gdb machine interface output")
        div.titlebar
            span.lighttext gdb machine interface output
            button.btn.btn-default.btn-xs.clear_mi_output(type='button', title='Clear (clears ui element, does not send a gdb command)') Clear
                    span.glyphicon.glyphicon-ban-circle.padding_left
        div#gdb_mi_output.gdb_content_div


footer(style='width:100%; margin:0; margin-top: 50px; padding:20px; background-color: #242729; color: #9fa6ad;')
    div.container
        div.row
            div.col-lg-3
                h4.bold preferences
                div.checkbox
                    label
                        input#checkbox_auto_add_breakpoint_to_main(type='checkbox', checked)
                        ='Auto add breakpoint to main'

        div.row

            div.col-lg-3
                h4.bold github
                p
                    a(href='https://github.com/cs01/gdbgui', target='_blank') https://github.com/cs01/gdbgui
                p
                    a(href='https://github.com/cs01/pygdbmi', target='_blank') https://github.com/cs01/pygdbmi

            div.col-lg-3
                h4.bold resources
                ul
                    li
                        a(href='https://sourceware.org/gdb/onlinedocs/gdb/') gdb documentation
                    li
                        a(href='https://sourceware.org/gdb/onlinedocs/gdb/GDB_002fMI.html#GDB_002fMI') gdb machine interface (mi) documentation
                    li
                        a(href='http://www.thegeekstuff.com/2010/03/debug-c-program-using-gdb') How to Debug C Program using gdb in 6 Simple Steps
                    li
                        a(href='https://golang.org/doc/gdb') debugging go code with gdb
                    li
                        a(href='https://sourceware.org/gdb/current/onlinedocs/gdb/Rust.html') debugging rust with gdb
                    li
                        a(href='https://jvns.ca/blog/2016/08/10/how-does-gdb-work/') how gdb works

            div.col-lg-3
                h4.bold credits
                ='Developed by '
                a(href='https://linkedin.com/in/chadsmith27', target='_blank') Chad Smith
                p
                    a(href='http://grassfedcode.com', target='_blank') grassfedcode.com

            div.col-lg-3
                h4.bold gdbgui version
                #{gdbgui_version}
                p
                a(href='https://pypi.python.org/pypi/gdbgui/') Check for updates

//- modal window, hidden by default
#gdb_modal.modal.fade(role='dialog')
    .modal-dialog
        .modal-content(style='padding: 20px;')
            #modal_header
                button.close(type='button', data-dismiss='modal') ×

            h4#modal_title Modal Header

            #modal_body(style='margin-top: 20px;')

            #modal_footer(style='margin-top: 20px;')
                button.btn.btn-default(type='button', data-dismiss='modal') Close

script.
    debug = #{debug}
    gdbgui_version = '#{gdbgui_version}'
script(type="text/javascript" src='static/js/gdbgui.js?_=#{timetag_to_prevent_caching}')
